mixin formInput(options={})
    label.form-input(class=options.classes)
        .form-input__title #{options.title}
        input.form-input__value(
            type=options.type || 'text',
            placeholder=options.placeholder,
            value=options.value,
            readonly=options.readOnly,
            name=options.name
        )