mixin chatListItem(chat, user)
    - const lastMessage = chat.messages[0] || {};
    - const unreadMessages = chat.messages.filter(({status}) => status === 'new');
    - let text = lastMessage.text || '';

    if text.length > 100
        - text = `${text.slice(0, 100)}...`;

    .chat-list-item
        .chat-list-item__avatar
            include ../avatar/avatar
            +avatar(chat.avatar)

        .chat-list-item__body
            .chat-list-item__user-name #{chat.user.display_name}
            .chat-list-item__text
                if chat.user._id === lastMessage.fromUserId
                    span.chat-list-item__label Вы:
                span #{text}

        .chat-list-item__labels
            if lastMessage.publishDate
                -
                    const now = new Date();
                    const publishDate = new Date(lastMessage.publishDate);

                    let date = null;
                    const diff = now.getTime() - publishDate.getTime();

                    if (diff < 86400000) {
                        date = `${publishDate.getHours().toString().padStart(2, '0')}:${publishDate.getMinutes().toString().padStart(2, '0')}`;
                    } else if (diff < 86400000*7) {
                        const dayOfWeek = ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'];
                        date = dayOfWeek[publishDate.getDay() + 1];
                    } else {
                        const months = ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек'];

                        date = `${publishDate.getDate()} ${months[publishDate.getMonth()]}`;

                        if (now.getFullYear() !== publishDate.getFullYear()) {
                            date = `${date} ${publishDate.getFullYear()}`;
                        }
                    }

                span.chat-list-item__date #{date}

            if unreadMessages.length
                .chat-list-item__counter #{unreadMessages.length}
