div.modal(class=className)
    .modal__content
        if header
            .modal__header
                | !{header}
                .modal__close
                    | !{closeButton}
        .modal__body
            if children && children.length
                each item in children
                    | !{item}
            else
                | !{children}
