.message(class=modifiersHelper('message', modifiers))
    if file
        img.message__file(src=file)

    if content
        .message__text !{content}

    .message__label
        if isOwnMessage && status
            span.message__status(class=modifiersHelper('message__status', [status]))

        span.message__time #{time}

